# Python Environment
.venv/
env/
venv/
ENV/

# Anaconda / Conda
.conda/
conda-meta/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS related files
.DS_Store
Thumbs.db